{{#each topics as |topic|}}
  <section class="col-lg-4 col-md-6" data-id="{{topic.id}}">
    <div class="card m-2">
      <h5 class="card-header" data-type="topic">
        {{topic.title}}
      </h5>
      <div id="{{topic.id}}-topic" class="card-body" data-id="{{topic.id}}">
        <div class="pl-2 question">
          <h5 class="card-title">Question</h5>
          <p class="card-text">{{topic.question}}</p>
        </div>
        <div class="pl-2 answer" id="{{topic.id}}-answer" data-id="{{topic.id}}">
          <h5 class="card-title">Answer</h5>
          <p class="card-text">{{topic.answer}}</p>
        </div>
      </div>
      <div class="card-footer">
        {{> partial topic=topic}}
      </div>
    </div>
  </section>
{{/each}}
